NODE_ENV=development
PORT=3000
MONGODB_ATLAS=mongodb+srv://usuario:password@cluster.mongodb.net/facilito
MONGODB_DB_NAME=damb
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_BUCKET_NAME=<bucket-name>
SUPABASE_PUBLISHABLE_KEY=<anon-public-key>
SUPABASE_SECRET_KEY=<service-role-secret-key>
